@font-face {
  font-family: 'Raleway Regular';
  src: url('../assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('../assets/fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Metropolis Black';
  src: url('../assets/fonts/metropolis-black-webfont.woff');
}